#list {
    margin-top: 70px;
}

#fancybox-wrap {
    position: fixed;
    top: 10% !important;
}

.item {
    width: 100%;
    display: inline-block;
    margin: 5px 0;
    transition: background-color 200ms ease, box-shadow 200ms ease;
    background-color: transparent;
    box-shadow: none;
}
.item:hover {
    background-color: #EEE;
    box-shadow: 0 0 5px 5px #EEE;
}
.item:active {
    background-color: #DDD;
    box-shadow: 0 0 5px 5px #DDD;
}

.item__icon {
    width: 100px;
    min-height: 60px;
    margin-right: 15px;
    float: left;
}
.item__icon > a {
    width: 100px;
    display: block;
}
.item__icon img {
    display: block;
    margin: 0 auto;
}

.item__about {

}




#panel {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px 10px white;
}
#panel input {
    width: 300px;
}

.sort {
    color: #09c;
    cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #09c;
    transition: color 200ms ease, border-bottom-color 200ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sort:hover {
    color: #048;
    border-bottom-color: #048;
}
.sort:active {
    color: black;
    border-bottom-color: black;
}
.sort.sort-active {
    border-bottom-style: solid;
}
.sort > .ascending {
    transition: border-color 200ms ease;
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-bottom: 7px solid #09c;
}
.sort > .descending {
    transition: border-color 200ms ease;
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-top: 7px solid #09c;
    position: relative;
    top: 5px;
}
.sort:hover > .ascending {
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-bottom: 7px solid #048;
}
.sort:hover > .descending {
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-top: 7px solid #048;
}
.sort:active > .ascending {
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-bottom: 7px solid black;
}
.sort:active > .descending {
    border: 5px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
    border-top: 7px solid black;
}




.tag {
    cursor: pointer;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: #0c9;
    color: white;
    box-shadow: none;
    transition: background-color 200ms ease, box-shadow 200ms ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tag:hover {
    background-color: #071;
    color: white;
    box-shadow: 0 0 1px 1px #071;
}
.tag:active {
    background-color: #041;
    color: white;
    box-shadow: 0 0 2px 2px #041;
}