<div class="item">
    <div class="item__icon">
        <img src={{thumbnail}}>
    </div>
    <div class="item__about">
        <div>Author: <strong>{{authorNick}}</strong></div>
        <div>Date taken: <strong>{{formatTaken}}</strong></div>
        <div>Date published: <strong>{{formatPublished}}</strong></div>
    </div>
</div>