<div class="panel">
    <label>Теги: <input type="text" value="" placeholder="пробел для разделения тегов"></label>
    <span class="panel__tags">{{> tags}}</span>
    <div class="panel__sorting">{{> sorting}}</div>
</div>
