Сортировать по:
<span class="sort js-sort-name{{#if sortname}} sort-active{{/if}}">имени{{#if sortname}} <span class="{{directionname}}"></span>{{/if}}</span>,
<span class="sort js-sort-taken{{#if sorttaken}} sort-active{{/if}}">дате съёмки{{#if sorttaken}} <span class="{{directiontaken}}"></span>{{/if}}</span>,
<span class="sort js-sort-publish{{#if sortpublish}} sort-active{{/if}}">дате публикации{{#if sortpublish}} <span class="{{directionpublish}}"></span>{{/if}}</span>