Сортировать по:
<span class="sort js-sort-name{{#if sortName}} sort-active {{direction}}{{/if}}">имени</span>,
<span class="sort js-sort-taken{{#if sortTaken}} sort-active {{direction}}{{/if}}">дате съёмки</span>,
<span class="sort js-sort-publish{{#if sortPublish}} sort-active {{direction}}{{/if}}">дате публикации</span>